@import "../styles/tokens.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes wipe {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-wipe {
  animation: wipe 1.5s ease-in-out forwards;
}
